<form action="/dashboard/addvenue" method="POST">
  <div class="field">
    <label class="label">Venue Name</label> <input class="input" type="text" placeholder="Enter venue name" name="name">
  </div>
  <button class="button is-link">Add Venue</button>
</form>
